/.DS_Store
/.cache
spotifyenv
my data/
client_credentials.txt
spotipy_test.ipynb
chosic_test.csv
api_connection.py
api_connection.ipynb
# spotipy_test.ipynb
spotipy_test.ipynb
Song selection.xlsx